.head {
    background-color: #6699ff;
    color: white;
}

.nerds {
    text-align: center;
    margin-top: 20px;
}

.nerds img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.mission {
    text-align: center;
}

.buttons {
    background-color: white;
    width: 120px;
    height: 50px;
}

.logo {
    width: 150px;
    height: auto;
    margin-right; 15px;
}

.bullet {
    font-size: 22px;
}

.addr {
    font-size:25px
}